{% extends 'base.html.twig.' %}

{% block title %}Recipe Manager{% endblock %}

{% block body %}
    <h1>Hello</h1>

    <p>This friendly message is coming from:</p>
    <ul>
        <li>Your controller at <code>src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>templates/default/index.html.twig</code></li>
    </ul>

{% endblock %}
