
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/default/index.html.twig">home</a></li>
            <li class="breadcrumb-item"><a href="/default/newrecipe">New Recipe</a></li>
        </ol>
    </nav>
